@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-50;
}

label:after {
    content: attr(data-description);
    @apply block opacity-75 text-sm;
}

.indent-2 {
    @apply pl-3 ml-1 border-l-1 dark:border-slate-600 border-slate-300;
}

.indent-2 + div:not(.indent-2) {
    @apply mt-2;
}

li:has(a.current) {
    @apply border-blue-400;
}
a.current {
    @apply text-blue-400;
}

table {
    @apply border-collapse border dark:border-slate-600 border-slate-400;
}

th {
    @apply dark:bg-slate-800 bg-slate-300;
}

td,
th {
    @apply border dark:border-slate-600 border-slate-400 p-2;
}

details:not(:hover) .bookmark-button span:first-child {
    opacity: 0;
}
