@import "tailwindcss";

body {
    @apply bg-slate-900 text-slate-50;
}

label:after {
    content: attr(data-description);
    @apply block opacity-75 text-sm;
}

.indent-2 {
    @apply pl-3 ml-1 border-l-1 border-slate-600;
}

.indent-2 + div:not(.indent-2) {
    @apply mt-2;
}

li:has(a.current) {
    @apply border-blue-400;
}
a.current {
    @apply text-blue-400;
}

table {
    @apply border-collapse border border-slate-600;
}

th {
    @apply bg-slate-800;
}

td,
th {
    @apply border border-slate-600 p-2;
}
