@import "tailwindcss";

body {
    @apply bg-slate-900 text-slate-50;
}

label:after {
    content: attr(data-description);
    @apply block opacity-75 text-sm;
}

.indent-2 {
    @apply pl-3 ml-1 border-l-1 border-slate-600;
}

.indent-2 + div:not(.indent-2) {
    @apply mt-2;
}
