@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
    @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-50;
}

label:after {
    content: attr(data-description);
    @apply block opacity-75 text-sm;
}

.indent-3,
.indent-2 {
    @apply ml-1 border-l-1 dark:border-slate-600 border-slate-300;
}

.indent-2 {
    @apply pl-3;
}

.indent-3 {
    @apply pl-6;
}

.indent-3 + div:not(.indent-3),
.indent-2 + div:not(.indent-2) {
    @apply mt-2;
}

li:has(a.current) {
    @apply border-blue-400;
    .dot {
        @apply bg-blue-400;
    }
}
a.current {
    @apply text-blue-400;
}

.md-content > table,
table.default-style {
    @apply border-collapse border dark:border-slate-600 border-slate-400;
    
    th {
        @apply dark:bg-slate-800 bg-slate-300;
    }
    
    td,
    th {
        @apply border dark:border-slate-600 border-slate-400 p-2;
    }
}

details:not(:hover) .bookmark-button div > button:first-child {
    opacity: 0;
}

/* in profile label links */
label > span > a {
    @apply underline;
}

.md-content {
    > :first-child {
        @apply mt-0;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-semibold mb-1;
    }
    h1 {
        @apply text-2xl mt-3;
    }
    h2 {
        @apply text-xl mt-3;
    }
    h3, h4, h5, h6 {
        @apply text-lg mt-1;
    }
    ul > li {
        @apply list-disc;
    }
    ol > li {
        @apply list-decimal;
    }
    li, ul, ol {
        @apply ml-2;
    }
    li > ol,
    li > ul {
        @apply ml-2;
    }
    p {
        @apply my-1;
    }
    a {
        @apply text-blue-500 hover:underline;
    }
    blockquote {
        @apply pl-2 border-l-slate-500 dark:border-l-slate-200 border-l-2 bg-slate-100 dark:bg-slate-800;
    }
}

@media print {
    @page {
        size: A4;
        margin: 8mm;
    }
}

.print-table {
    @apply border-0;
    tr {
        @apply border-0;
    }
    th {
        @apply border-0 bg-transparent border-b-2 p-1;
    }
    td {
        @apply py-0.5 px-1 text-[10px] text-right;
    }

}